{{#partial "title" }}
    Check out my travel photos! <!-- I've changed!-->
{{/partial}}

{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
        <img src = '/images/messi.jpg' alt='Messi hd images'>
        <hr>
        <img src = '/images/meone.jpg' alt = 'Messi two hd image'>
    </ul>
{{/partial}}

{{> layout.hbs}}


<!--    <h1>Favorite footbal photos</h1>-->
<!--    <ul>-->
<!--        <li>-->
<!--            <img src = '/images/messi.jpg' alt='Messi hd images'>-->
<!--            <hr>-->
<!--            <img src = '/images/meone.jpg' alt = 'Messi two hd image'>-->
<!--        </li>-->
<!--    </ul>-->




